@use '../../abstracts/type';

.MethodInfo__description {
  margin-top: 1rem;
}

.MethodInfo__ParamList-heading {
  margin: 3rem 0 1rem;
}

.MethodInfo__param-list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 1px solid var(--contrast1);
}

.MethodInfo__param-list-item__second {
  grid-column: 2;
}
