@use '../abstracts/layout';

.BreadcrumbNav {
  @extend %container;

  padding-top: 6vw;
  padding-bottom: 2vw;
}

.MainContainer {
  @extend %container;
}

.NavBar__content {
  @extend %container;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
