@use '../abstracts/media';
@use '../abstracts/type';

.Breadcrumbs {
  font-family: type.$font-fam-mono;
}

.Breadcrumbs__item {
  @include media.for-breakpoint(tablet) {
    display: inline-block;
  }

  + .Breadcrumbs__item {
    &::before {
      content: '';
      display: inline-block;
      height: 1em;
      margin-right: 1ch;
      transform: rotate(15deg) translateY(0.3em);
      border-right: 0.1em solid currentcolor;
    }
  }
}
