@use './dropdown';

$-padding-y: 0.5rem;
$-dropdown-max-height: 10rem;

.Combobox__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Combobox__button--readonly {
  cursor: text;
}

.Combobox__button--empty {
  color: var(--contrast2);
}

.Combobox__dropdown {
  max-height: $-dropdown-max-height;
  overflow: auto;
}

.ComboboxItem {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0.25rem $-padding-y;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }

  [aria-selected='true'] & {
    color: var(--contrast 7);
  }
}

.ComboboxItem--is-description-item {
  background-color: var(--contrast2);
  color: var(--base3);
}

.Combobox--editable {
  grid-template-columns: auto 2rem;

  :focus-visible {
    outline: none;
  }

  &:focus-within {
    outline: 2px solid var(--cyan);
    outline-offset: -1px;
  }

  .Combobox__input:focus + .Combobox__button {
    border-color: var(--contrast6);
    color: var(--contrast6);
  }
}

.Combobox__description {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0.5rem 0 0;
  padding: 0.5rem $-padding-y 0;
  border-top: 1px solid dropdown.$border-color;
}
