@use './dropdown';

$-padding-y: 0.5rem;

.Combobox__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Combobox__button--readonly {
  cursor: text;
}

.Combobox__button--empty {
  color: var(--contrast2);
}

.Combobox__item {
  padding: 0.25rem $-padding-y;

  &:focus-visible {
    outline: none;
  }
}

.Combobox__item--is-description-item {
  background-color: var(--magenta);
  color: var(--contrast7);
}

.Combobox__Dropdown__info {
  margin: 0.5rem 0 0;
  padding: 0.5rem $-padding-y 0;
  border-top: 1px solid dropdown.$border-color;
}

.Combobox--has-input {
  grid-template-columns: auto 2rem;

  :focus-visible {
    outline: none;
  }

  &:focus-within {
    outline: 2px solid var(--cyan);
    outline-offset: -1px;
  }

  .Combobox__input:focus + .Combobox__button {
    border-color: var(--contrast6);
    color: var(--contrast6);
  }
}
