$outline-variant-width: 1.5rem;
$solid-variant-width: 1.25rem;

.Icon--outline {
  width: $outline-variant-width;
  height: $outline-variant-width;
}

.Icon--solid {
  width: $solid-variant-width;
  height: $solid-variant-width;
}
