.NavBar__content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid var(--contrast2);
}

.NavBar__logo {
  border-bottom-color: transparent;
  color: var(--magenta);
  font-weight: bold;

  &:hover,
  &:focus {
    border-bottom-color: var(--magenta);
  }
}
