@use '../abstracts/media';

.MethodInfo__description {
  margin-top: 1rem;
}

.MethodInfo__ParamList-heading {
  margin: 3rem 0 1rem;
}

.MethodInfo__item {
  display: grid;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 1px solid var(--contrast1);

  @include media.for-breakpoint(tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

.MethodInfo__item__second {
  grid-column: 2;
}

.MethodInfo__input-container {
  display: grid;
}

.MethodInfo__error {
  margin-top: 0.5rem;
  color: var(--orange);
}

.MethodInfo__text-input {
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
