// https://ethanschoonover.com/solarized/
$-base03: #002b36;
$-base02: #073642;
$-base01: #586e75;
$-base00: #657b83;
$-base0: #839496;
$-base1: #93a1a1;
$-base2: #eee8d5;
$-base3: #fdf6e3;
$-yellow: #b58900;
$-orange: #cb4b16;
$-red: #dc322f;
$-magenta: #d33682;
$-violet: #6c71c4;
$-blue: #268bd2;
$-cyan: #2aa198;
$-green: #859900;

// NOTE: We can't use SCSS variables for the contrast colors because they change
// based on the dark mode toggle state. Thus, we'll use CSS variables for all
// colors for consistency.

%brand {
  // Use base colors directly only in special cases where light/dark mode is not
  // applicable
  --base03: #{$-base03};
  --base02: #{$-base02};
  --base01: #{$-base01};
  --base00: #{$-base00};
  --base0: #{$-base0};
  --base1: #{$-base1};
  --base2: #{$-base2};
  --base3: #{$-base3};

  --yellow: #{$-yellow};
  --orange: #{$-orange};
  --red: #{$-red};
  --magenta: #{$-magenta};
  --violet: #{$-violet};
  --blue: #{$-blue};
  --cyan: #{$-cyan};
  --green: #{$-green};
}

%light-mode {
  --background-color: #{$-base3};

  --contrast1: #{$-base2}; // Least contrast with background
  --contrast2: #{$-base1};
  --contrast3: #{$-base0};
  --contrast4: #{$-base00};
  --contrast5: #{$-base01};
  --contrast6: #{$-base02};
  --contrast7: #{$-base03}; // Most contrast with background
}

%dark-mode {
  --background-color: #{$-base03};

  --contrast1: #{$-base02}; // Least contrast with background
  --contrast2: #{$-base01};
  --contrast3: #{$-base00};
  --contrast4: #{$-base0};
  --contrast5: #{$-base1};
  --contrast6: #{$-base2};
  --contrast7: #{$-base3}; // Most contrast with background
}
